@model IEnumerable<DealHub.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReasonPhrase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportStatusEnum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResolvedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonPhrase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportStatusEnum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResolvedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
